---
const personalImageAlt = "Miquel Avellaneda";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-400 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-justify"
  >
    <p>
      <p>
        Empecé en la informática desde bien pequeño, cuando tenía 10 años.
        Actualmente, estoy <strong
          >finalizando un ciclo de microsistemas informáticos y redes</strong
        >, para posteriormente hacer un ciclo de diseño de aplicaciones web.
      </p>

      <p>
        De muchos de los proyectos que he realizado en mi etapa como estudiante
        de microsistemas, quiero recalcar:
      </p>

      <ul
        class="[&>strong]:text-blue-400 dark:[&>p>strong]:text-yellow-400 py-1"
      >
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>Montaje de un ordenador</strong> de sobremesa, eligiendo los componentes
          más adecuados para el cliente.
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>Sistemas DualBoot</strong>, para ofrecer dos sistemas
          operativos para un solo servidor.
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>Diseño y cableado de una red local</strong>, para un
          instituto.
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>Limpieza y mantenimiento de ordenadores</strong> para posteriormente
          donarlos a una escuela con pocos recursos.
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>Diseño, cableado y servidor</strong> para una escuela con pocos
          recursos.
        </li>
      </ul>

      <p>
        Uno de mis trabajos personales más interesantes es <strong
          >la programación mediante una Arduino para conseguir digitalizar
          imágenes de la Game Boy Camera.</strong
        > Un aparato del que originalmente solo se podían imprimir las imágenes.
        Con este experimento, he podido colaborar con fotógrafos para crear un contenido
        distinto y original.
      </p>

      <!-- <p>Como estudiante, <strong>cuento con unos resultados muy satisfactorios en mi campo de <em class="italic">la informática y la programación </em>en mi instituto</strong>, mi objetivo es sacar los mejores resultados para ampliar mis conocimientos.</p> -->
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/sobre-mi.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-2 ring-blue/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
