---
const personalImageAlt = "Miquel Avellaneda";
import Badge from "./Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import MailIcon from "../icons/MailIcon.astro";
import SocialPill from "./SocialPill.astro";
import Github from "../icons/Github.astro";

import { getI18n } from "../i18n/";

const { currentLocale = "es" } = Astro;
const i18n = getI18n({ currentLocale });
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/perfil.webp"
      alt={personalImageAlt}
    />
    <a
      href="/public/CV_Miquel_Avellaneda.pdf"
      download
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>{i18n.CVTITLE}</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    {i18n.HEROTITLE}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-400 [&>strong]:text-blue-400 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>{i18n.HEROTEXT1}</strong> De Barcelona, Catalu침a, Espa침a. <br /><br
    />Especializado en ofrecer la mejor soluci칩n.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:miavluofficial@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/mavellaneda/">
      <LinkedIn class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/mavellanedal">
      <Github class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
