---
import SpainFlag from "../icons/SpainFlag.astro";
import CatalanFlag from "../icons/CatalanFlag.astro";
import EnglishFlag from "../icons/EnglishFlag.astro";
const LANGUAGES = ["español", "catalán", "inglés"];
---

<div class="relative ml-1 mr-1">
  <button
    id="language-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <span class="sr-only">Seleccionar idioma</span>
    <SpainFlag
      id="español"
      class="language-toggle-icon size-5 transition-all"
    />
    <CatalanFlag
      id="catalán"
      class="language-toggle-icon absolute size-5 transition-all"
    />
    <EnglishFlag
      id="inglés"
      class="language-toggle-icon absolute size-5 transition-all"
    />
  </button>
  <div
    id="languages-menu"
    class="absolute hidden scale-80 top-8 right-0 text-sm p-1 min-w-[8rem] rounded-md border border-gray-100 bg-white/90 dark:bg-gray-900/90 dark:border-gray-500/20 shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
  >
    <ul>
      {
        LANGUAGES.map((language) => (
          <li class="languages-menu-option px-2 py-1.5 cursor-default hover:bg-neutral-400/40 dark:hover:bg-gray-500/50 rounded-sm">
            {language}
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  #languages-menu.open {
    display: inline;
    animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes scale-up-center {
    from {
      transform: scale(0.8);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>

<script is:inline>
  const languagesMenu = document.getElementById("languages-menu");

  const updateLanguage = () => {
    const languagePreference = localStorage.getItem("language") ?? "español";
    document.querySelectorAll(".language-toggle-icon").forEach((element) => {
      element.style.scale = element.id === languagePreference ? "1" : "0";
    });
  };

  updateLanguage();

  document.addEventListener("click", () =>
    languagesMenu.classList.remove("open")
  );

  document
    .getElementById("language-toggle-btn")
    .addEventListener("click", (e) => {
      e.stopPropagation();
      const isClosed = !languagesMenu.classList.contains("open");
      languagesMenu.classList[isClosed ? "add" : "remove"]("open");
    });

  document.querySelectorAll(".languages-menu-option").forEach((element) => {
    element.addEventListener("click", (e) => {
      localStorage.setItem("language", e.target.innerText.toLowerCase().trim());
      updateLanguage();
      // Aquí puedes agregar la lógica para cambiar el idioma de la aplicación según sea necesario
    });
  });
</script>
